.country {
  display: flex;
  align-items: flex-start;
}

.country__wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
  flex-grow: 1;
  max-width: 370px;
  margin-right: auto;
  padding-top: 8px;

  p {
    margin: 0;
    margin-bottom: 50px;
    letter-spacing: -0.5px;
  }
}

.country__title {
  position: relative;

  margin: 0;
  margin-bottom: 30px;
  padding-bottom: 20px;

  font-size: 55px;
  line-height: 90px;
  font-weight: 600;
  color: $dark-color;
  letter-spacing: -1.3px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 175px;
    height: 3px;

    background-color: $accent-color;
  }
}

.country__button {
  width: 100%;
  max-width: 250px;
  padding: 30px 0;

  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $main-text-color;
  text-align: center;

  background-color: $accent-color;
}

.country__image-wrap {
  width: 36.8%;
  margin-left: 10px;

  img {
    display: block;
  }
}

.country__feedback {
  align-self: center;
  margin-left: -9.6%;
}

@media (max-width: $tablet-width) {
  .country {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .country__wrap {
    align-items: center;
    max-width: none;
    margin: 0 21px 30px;
    padding: 0;

    text-align: center;

    p {
      margin-bottom: 19px;
    }
  }

  .country__title {
    margin-bottom: 21px;
    padding: 0;

    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0;

    &::after {
      display: none;
    }
  }

  .country__button {
    padding: 19px 0;

    font-size: 10px;
    line-height: 12px;
  }

  .country__image-wrap {
    width: 100%;
    margin: 0;

    img {
      width: 100%;
    }
  }

  .country__feedback {
    margin: 0;
    margin-top: -335px;
  }
}

@media (max-width: $mobile-width) {
  .country__wrap {
    margin: 0 16px 50px;
  }

  .country__title {
    font-size: 24px;
    line-height: 36px;
  }

  .country__button {
    width: 288px;
    max-width: none;
  }

  .country__feedback {
    margin-top: -365px;
  }
}
