.countries-list {
  @include reset-list;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.countries-list__item {
  max-width: 95px;
  margin-right: 23px;
  margin-bottom: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.countries-list__sublist {
  @include reset-list;
}

.countries-list__sublist-item {
  a {
    @include link-interactive;
  }
}

@media (max-width: $tablet-width) {
  .countries-list {
    justify-content: flex-start;
  }

  .countries-list__item {
    min-width: 95px;
    max-width: none;
    margin-right: 30px;
  }
}

@media (max-width: $mobile-width) {
  .countries-list {
    justify-content: center;
  }

  .countries-list__item {
    width: 134px;
    margin-right: 0;
  }

  .countries-list__sublist {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .countries-list__sublist-item {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
