.countries-wrap {
  background-color: $body-bg-color;

  background-image: url("../img/countries-bg-desktop.jpg");
  background-repeat: no-repeat;
  background-position: 50% 142px;

  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    background-image: url("../img/countries-bg-desktop@2x.jpg");
    background-size: 1444px auto;
  }
}

@media (max-width: $tablet-width) {
  .countries-wrap {
    background-image: none;
  }
}
