.footer {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  padding: 170px 20% 75px 20.2%;

  font-size: 14px;
  line-height: 17px;
}

.footer__title {
  margin: 0;
  margin-bottom: 20px;

  font-size: 18px;
  line-height: 32px;
  font-weight: 600;
  color: $dark-color;
}

.footer__next-travels {
  flex-grow: 1;
  width: 30%;
  margin-right: auto;
  padding-right: 2.5%;

  border-right: 1px solid $footer-border-color;
}

.footer__contacts {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  width: 390px;
  margin-right: 4.4%;
  padding-right: 33px;
  padding-left: 7.9%;

  border-right: 1px solid $footer-border-color;
}

.footer__mail {
  margin-bottom: 18px;
}

.footer__corporative {
  flex-grow: 1;
  width: 30%;
}

.footer__offer {
  line-height: 24px;
}

@media (max-width: $tablet-width) {
  .footer {
    flex-wrap: wrap;
    padding: 80px 21px 50px;
  }

  .footer__next-travels {
    flex-grow: 0;
    width: 396px;
    margin-bottom: 30px;
    padding-right: 50px;
  }

  .footer__contacts {
    width: auto;
    margin: 0;
    margin-right: auto;
    margin-bottom: 30px;
    padding: 0;

    border: none;
  }

  .footer__corporative {
    width: 100%;
    padding-top: 30px;

    text-align: center;

    border-top: 1px solid $footer-border-color;
  }
}
