.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 183px 22.6% 295px 56%;
  color: $main-text-color;

  background-color: $main-bg-color;
  background-image: url("../img/start-bg-desktop.jpg");
  background-repeat: no-repeat;
  background-position: -148px -671px;

  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    background-image: url("../img/start-bg-desktop@2x.jpg");
    background-size: 2268px auto;
  }
}

.main__title {
  width: 398px;
  margin: 0;
  margin-bottom: 29px;

  font-size: 55px;
  line-height: 80px;
  font-weight: 600;
  letter-spacing: -1.2px;
}

.main__intro {
  width: 398px;
  margin: 0;
  margin-bottom: 36px;
  padding-right: 20px;

  line-height: 27px;
  letter-spacing: -0.5px;
}

.main__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 340px;
  padding: 30px 40px;

  font-size: 12px;
  line-height: 15px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;

  background-color: $accent-color;
}

@media (max-width: $tablet-width) {
  .main {
    align-items: center;
    padding: 60px 185px 83px;

    background-image: url("../img/start-bg-tablet.jpg");
    background-position: -58px -265px;
    background-size: 116.7% auto;

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    background-image: url("../img/start-bg-tablet@2x.jpg");
    background-size: 1023px auto;
  }
  }

  .main__title {
    width: auto;
    margin-bottom: 16px;

    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0;
  }

  .main__intro {
    width: auto;
    margin-bottom: 11px;
    padding: 0;

    text-align: center;
  }

  .main__button {
    width: 250px;
    padding: 17px 40px;

    font-size: 10px;
    line-height: 12px;
    font-weight: 500;
  }
}

@media (max-width: $mobile-width) {
  .main {
    padding: 0;
    padding-bottom: 54px;

    background-image: none;
  }

  .main__title {
    width: 100%;
    margin-bottom: 20px;
    padding: 82px 20px 84px 25px;

    font-size: 24px;
    line-height: 35px;
    text-align: center;

    background-image: url("../img/start-bg-mobile.jpg");
    background-repeat: no-repeat;
    background-position: 41.3% 95.6%;
    background-size: 119% auto;

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    background-image: url("../img/start-bg-mobile@2x.jpg");
    background-size: 767px auto;
  }
  }

  .main__intro {
    margin: 0 20px 20px;

    line-height: 27.5px;
    color: $dark-color;
  }

  .main__button {
    width: 288px;
  }
}
