.places {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 198px 0 97px;
}

.places__wrap {
  width: 100%;
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 60px;
}

.places__title {
  position: relative;

  align-self: flex-start;
  width: 360px;
  margin: 0;
  margin-bottom: 31px;
  padding-bottom: 33px;

  font-size: 55px;
  line-height: 80px;
  font-weight: 600;
  letter-spacing: -1.3px;
  color: $dark-color;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 229px;
    height: 3px;

    background-color: $accent-color;
  }
}

.places__intro {
  align-self: flex-start;
  width: 360px;
  margin: 0;
  margin-bottom: 56px;

  letter-spacing: -0.5px;
}

.places__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1290px;
  padding: 0 60px;
}

.places__item {
  flex-grow: 1;
  width: 27%;
  max-width: 30%;
  margin-right: 60px;
  margin-bottom: 101px;

  &:last-child {
    margin-left: 60px;
    margin-right: auto;
  }

  &:nth-child(3n) {
    margin-left: 0;
    margin-right: 0;
  }

  &:nth-child(3n + 4) {
    margin-left: auto;
  }
}

@media (max-width: $tablet-width) {
  .places {
    padding: 80px 81px 97px;
  }

  .places__wrap {
    padding: 0;
    text-align: center;
  }

  .places__title {
    width: auto;
    margin-bottom: 21px;
    padding: 0;

    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0;

    &::after {
      display: none;
    }
  }

  .places__intro {
    width: 350px;
    margin: 0 auto 40px;

    letter-spacing: -0.4px;
  }

  .places__list {
    justify-content: space-around;
    padding: 0;
  }

  .places__item {
    width: 37.5%;
    max-width: 288px;
    margin-right: 30px;
    margin-bottom: 20px;

    &:nth-child(3n) {
      margin-right: 30px;
    }

    &:last-child {
      margin: 8px auto 20px;
    }

    &:nth-child(2n) {
      margin: 0 0 20px;
    }
  }
}

@media (max-width: $mobile-width) {
  .places {
    padding: 54px 15px 88px;
  }

  .places__title {
    margin-bottom: 20px;

    font-size: 24px;
    line-height: 36px;
  }

  .places__intro {
    width: 100%;
    margin-bottom: 20px;
  }

  .places__list {
    flex-direction: column;
    align-items: center;
  }

  .places__item {
    width: 288px;
    margin: 0 0 30px;

    &:nth-child(3n) {
      margin: 0 0 30px;
    }

    &:last-child {
      margin: 0;
    }

    &:nth-child(2n) {
      margin: 0 0 30px;
    }
  }
}
