@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin interactive {
  &:hover {
    opacity: 0.8;
    transition: opacity 0.2s ease;
  }

  &:active {
    opacity: 0.5;
    transition: opacity 0.2s ease;
  }
}
