$body-bg-color: #ffffff;
$text-color: rgba(44, 46, 63, 0.7);
$dark-color: #2c2e3f;
$dark-dark-color: #141517;
$accent-color: #fe7865;
$accent-color-hover: #f17d4b;
$menu-item-bg-color: #fbf8f8;
$footer-border-color: #d7d9df;
$main-text-color: #ffffff;
$card-hover-color: rgba(20, 21, 23, 0.6);
$carousel-text-color: rgba(44, 46, 63, 0.3);
$modal-bg-color: #fbf8f8;
$form-text-color: #48494d;
$input-border-color: rgba($dark-color, 0.3);
$price-card-title-color: rgba(20, 21, 23, 0.7);

$tablet-width: 1023px;
$mobile-width: 767px;
$min-mobile-width: 320px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
